@font-face {
  font-family: "Futura-Bol";
  src: url("fonts/Futura-Bol.ttf");
}
@font-face {
  font-family: "Futura-Boo";
  src: url("fonts/Futura-Boo.ttf");
}
@font-face {
  font-family: "Futura-BooObl";
  src: url(fonts/Futura-BooObl.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fadein {
  opacity: 0;
  transition: all 2s;
}

.fadein.scroll-in {
  opacity: 1;
}
.navigation {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  background: transparent;
  padding: 30px 50px;
}
.navigation ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  list-style: none;
  gap: 30px;
  margin-top: 10px;
  padding: 0;
}

.navigation a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: all 1s;
}

.navigation a:hover {
  color: #5c5cea;
}

@media (max-width: 768px) {
  .navigation a {
    display: none;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 50px;
  margin: 0 auto;
}

.firstview {
  width: 100%;
  height: 100vh;
  background-image: url(images/background1.jpg);
  background-position: center center;
  background-size: cover;
}
.firstview-img {
  width: 80%;
  padding-top: 225px;
}

.firstview p {
  font-size: 40px;
  color: #ffffff;
  padding-top: 25px;
  font-family: "Futura-BooObl", sans-serif;
}
@media (max-width: 1200px) {
  .firstview-img {
    width: 950px;
  }
}
@media (max-width: 1024px) {
  .firstview-img {
    width: 80%;
  }
  .firstview p {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .firstview-img {
    padding-top: 300px;
  }
  .firstview p {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  .firstview p {
    font-size: 15px;
  }
}

.container h2 {
  color: #5c5cea;
  font-size: 55px;
  font-family: "Futura-Bol", sans-serif;
  margin-top: 50px;
}

.explain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.explain-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.explain-img {
  width: 500px;
}

.sentence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 500px;
  height: auto;
}

.sentence p {
  font-family: "Futura-Boo", sans-serif;
}

.sentence a {
  display: inline-block;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  width: 180px;
  line-height: 40px;
  border-radius: 12px;
  padding: 0 50px;
  margin-top: 30px;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

.sentence a:hover {
  box-shadow: 0px 0px 15px rgba(30, 30, 79, 0.4);
}

.sentence a:active {
  box-shadow: 0 0;
}

.left-a {
  background-color: #5c5cea;
}
.right-a {
  background-color: rgb(228, 188, 114);
}

@media (max-width: 1024px) {
  .explain {
    flex-direction: column;
  }
  .explain-right {
    flex-direction: column;
  }
  .sentence p {
    width: 500px;
  }
}
@media (max-width: 535px) {
  .explain-img {
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
  }

  .sentence,
  .sentence p {
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
  }
}
.courses {
  position: relative;
}
#particles-js {
  background-color: #d7e5f7;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.bigcourse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.course {
  background-color: #fff;
  height: 330px;
  width: 250px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 5%);
}
.course img {
  height: 100px;
  margin-bottom: 50px;
}
.course p {
  font-weight: bold;
  font-family: "Futura-Boo", sans-serif;
}
.course a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  width: 190px;
  line-height: 40px;
  border-radius: 12px;
  padding: 0 30px;
  margin-top: 30px;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

.course a:hover {
  box-shadow: 0px 0px 15px rgba(30, 30, 79, 0.4);
}

.course a:active {
  box-shadow: 0 0;
}

.course-html {
  background-color: #f15131;
}
.course-css {
  background-color: #3bb0ea;
}
.course-unity {
  background-color: #272524;
}
.course-ruby {
  background-color: #e44f4f;
}
.course-js {
  background-color: #f3d12a;
}
.course-swift {
  background-color: #fe6a3d;
}
.course-go {
  background-color: #30ced4;
}

@media (max-width: 768px) {
  .course {
    width: 170px;
    height: 210px;
    margin-bottom: 40px;
  }
  .course img {
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .course a {
    font-size: 12px;
    width: 150px;
    line-height: 30px;
    margin-top: 5px;
    padding: 0 18px;
  }
}
.images {
  height: 500px;
}
.slide-items {
  width: 100%;
  display: flex;
  max-width: 1600px;
  margin-top: 50px;
}

.slide-items li {
  height: auto;
}

.slide-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slick-prev::before,
.slick-next::before {
  color: black;
  font-size: 24px;
  opacity: 0.8;
}

.slick-dots li button:before {
  font-size: 18px;
  top: 6px;
}

@media (max-width: 1200px) {
  .images {
    margin-left: 50px;
    margin-right: 50px;
  }
}
.slide-items .container iframe {
  margin-top: 50px;
  max-width: 1500px;
}

@media (max-width: 768px) {
  .access,
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .container iframe {
    width: 100%;
    max-width: 1000px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  font-size: 14px;
  color: #5c5cea;
  margin-bottom: 25px;
}
